

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {background-color: dimgray;

    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}


            .box {
  padding: 20px;
  background-color: #273746   ;
                color: white;}




  body::-webkit-scrollbar{
                width: 5px;
            }

            body::-webkit-scrollbar-track{
                background-color: lavenderblush;
            }

             body::-webkit-scrollbar-thumb{
                background-color: darkorange;
            }

.cal{
    background-color:#FFA500;
    padding:5px;
    font-size: 30px;
    font-style: bold;
}
.pro{font-size: 13px;
   background: rgba(76, 175, 80, 0.5);
    padding: inherit;

}
.loss{font-size: 13px;
  background-color: rgba(255, 0, 0, 0.5);};
}


.ear{
    background: rgba(76, 175, 80, 0.5);
    font-size: 15px;
}
.trans{
    background-color: rgba(255, 0, 0, 0.5);};
    font-size: 15px;
}
.ooo{
     background-color: rgba(145, 56, 34, 0.62);
    font-size: 15;
}
 .web{  font-size: 2px;
  background-color: #FEA500  ;
  color: white;

            }
.one{
    background-color:rgba(145, 56, 34, 0.62);
}
